name: Veracode Static Pipeline Scanner

on:
  workflow_call:
    inputs:
      policy_name:
        required: true
        type: string
      owner:
        required: true
        type: string
      repo:
        required: true
        type: string
      sha:
        required: true
        type: string
      token:
        required: true
        type: string
      ref:
        required: true
        type: string
      create_code_scanning_alert:
        required: true
        type: boolean
      create_issue:
        required: true
        type: boolean
      check_run_id:
        required: true
        type: string
      source_repository:
          required: true
          type: string
      profile_name:
          required: true
          type: string
      break_build_policy_findings: 
          required: true
          type: string
      break_build_on_error: 
          required: true
          type: string
      filter_mitigated_flaws: 
          required: true
          type: string
      language:
        required: true
        type: string
      default_runs_on:
        required: true
        type: string
      debug:
        required: false
        type: string

jobs:
  prepare_pipeline_scan:
    runs-on: ${{ fromJson(inputs.default_runs_on) }}
    name: prepare pipeline scan
    outputs:
      matrix_files: ${{ steps.get-files.outputs.matrix_files }} 

    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      
      # get the compiled binary from a previous job
      - name: get archive
        uses: actions/download-artifact@v4
        with:
          name: veracode-artifact
          path: ./veracode_artifact_directory

      - name: Get list of files for matrix
        id: get-files
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs')
            const dir = 'veracode_artifact_directory'
            const files = fs.readdirSync(dir)
      
            core.info(`Files for matrix: ${JSON.stringify(files)}`)
            core.setOutput('matrix_files', JSON.stringify(files))

  pipeline_scan:
    runs-on: ${{ fromJson(inputs.default_runs_on) }}
    needs: prepare_pipeline_scan
    strategy:
      matrix:
        file: ${{fromJson(needs.prepare_pipeline_scan.outputs.matrix_files)}}

    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ inputs.owner }}/${{ inputs.repo }}
          ref: ${{ inputs.ref }}
          token: ${{ inputs.token }}

      - name: get archive
        uses: actions/download-artifact@v4
        with:
          name: veracode-artifact
          path: ./veracode_artifact_directory

      - name: Debug Matrix Content
        uses: actions/github-script@v7
        with:
          script: |
            console.log('Raw matrix files:', `${{ needs.prepare_pipeline_scan.outputs.matrix_files }}`)
            console.log('Current matrix:', JSON.stringify(${{ toJSON(matrix) }}))
            console.log('Current file:', '${{ matrix.file }}')

      - name: Veracode Pipeline-Scan
        if: always()
        id: pipeline-scan
        uses: veracode/Veracode-pipeline-scan-action@v1.0.20
        with:
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          veracode_policy_name: ${{ inputs.policy_name }}
          file: ./veracode_artifact_directory/${{ matrix.file }}
          fail_build: ${{ inputs.break_build_policy_findings }}
          summary_output: true
          summary_output_file: ${{ strategy.job-index }}-results.txt
          json_output: true
          json_output_file: ${{ strategy.job-index }}-results.json
          filtered_json_output_file: ${{ strategy.job-index }}-filtered_results.json
          artifact_name: ${{ matrix.file }}
          debug: ${{ inputs.debug == true && '1' || '0' }}
          workflow_app: true
    
      - name: Veracode Pipeline Results
        if: always()
        id: prepare-results
        uses: veracode/github-actions-integration-helper@v0.1.9
        with:
          action: 'preparePipelineResults'
          token: ${{ inputs.token }}
          check_run_id: ${{ inputs.check_run_id }}
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          appname: ${{ inputs.profile_name }}
          source_repository: ${{ inputs.source_repository }}
          fail_checks_on_policy: ${{ inputs.break_build_policy_findings }}
          fail_checks_on_error: ${{ inputs.break_build_on_error }} 
          filter_mitigated_flaws: ${{ inputs.filter_mitigated_flaws }}
          filtered_results_file: ${{ strategy.job-index }}-filtered_results.json

      - name: Convert pipeline scan output to SARIF format
        if: ${{ inputs.create_code_scanning_alert && always() }}
        uses: Veracode/veracode-pipeline-scan-results-to-sarif@v2.0.4
        with:
          pipeline-results-json: mitigated_${{ strategy.job-index }}-filtered_results.json
          output-results-sarif: veracode-results.sarif
          repo_owner: ${{ inputs.owner }}
          repo_name: ${{ inputs.repo }}
          commitSHA: ${{ inputs.sha }}
          ref: ${{ inputs.ref }}
          githubToken: ${{ inputs.token }}

      - name: Create flaws as issues
        if: ${{ inputs.create_issue && always() }}
        uses: veracode/veracode-flaws-to-issues@v2.2.25
        with:
          scan-results-json: mitigated_${{ strategy.job-index }}-filtered_results.json
          repo_owner: ${{ inputs.owner }}
          github-token: ${{ inputs.token }}
          repo_name: ${{ inputs.repo }}
          commitHash: ${{ inputs.sha }}
  
  update-checks-status:
    runs-on: ${{ fromJson(inputs.default_runs_on) }}
    needs: pipeline_scan
    if: always()
    steps:
      - name: Update check
        id: update_check_status
        uses: actions/github-script@v7
        with:
          github-token: ${{ inputs.token }}
          script: |    
            const needs = ${{ toJSON(needs) }}
            const breakOnError = '${{ inputs.break_build_on_error }}' === 'true'
            const breakOnPolicy = '${{ inputs.break_build_policy_findings }}' === 'true'
      
            let conclusion = 'success'
      
            for (const [jobName, job] of Object.entries(needs)) {
              core.info(`Job ${jobName} result: ${job.result}`)
      
              if (job.result === 'failure') {
                if (breakOnError || breakOnPolicy) {
                  conclusion = 'failure'
                  break
                }
              }
            }
      
            core.info(`Final check conclusion: ${conclusion}`)
      
            await github.rest.checks.update({
              owner: '${{ inputs.owner }}',
              repo: '${{ inputs.repo }}',
              check_run_id: Number('${{ inputs.check_run_id }}'),
              status: 'completed',
              conclusion
            })
